html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}
body{
    background-color: #020659;
    margin: 0 auto;
    padding: 25px;
    display: grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    grid-template-areas:
        "header"
        "main"
        "songs"
        "button1"
        "playlists"
        "button2"
        "curated"
        "button3"

}
header {
    grid-area: header;
}

.header .menu {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 500px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
@media (min-width: 834px) {
    .header li {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .header .menu-icon {
      display: none;
  }
}
main{
    grid-area: main;
    padding: 10px;
    background-color: #ffffff;
    margin: 25px;

}
#songs{
    color: #590242;
    background-color: #ffffff;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content:  space-between;
}
#songs h3 {
    text-align: center;
}
.button1 {
    grid-column-start: 1;
    grid-column-end: 3; 
    background-color: #590242;
}
#playlists {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #2699FB;
    padding: 10px;
}
#playlists section {
    padding: 5px;
    margin: 25px 0;
}
.button2 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #590242;
}
.button3 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #590242;
}
#curated {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #2104D9;
}
ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
}